//--------------------------------------------------------------
//  Variables
//--------------------------------------------------------------

$font-default-sans-serif: helvetica neue, helvetica, sans-serif;

$container-size: 1058px;
$keyboard-gap: 2px;
$keyboard-border-radius: 10px;
$key-size: 60px;
$key-gap: 4px;
$key-border-radius: 5px;

$color-1: #ffffff;
$color-2: #e7e7e4;
$color-3: #D1D1CF;
$color-4: #757b85;
$color-5: #787d86;
$color-6: #606670;
$color-7: #56565e;
$color-8: #474752;
$color-9: #363a41;
$color-10: #222227;


$key-inner-position: .45rem;